include wayfire/ipc.py
include wayfire/__init__.py
include wayfire/core/__init__.py
include wayfire/core/template.py
include wayfire/extra/wpe.py
include wayfire/extra/ipc_utils.py
include wayfire/extra/stipc.py
